body {
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: black;
  height: 100px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  text-align: center;
}

li {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 10px;
  font-size: large;
  list-style-type: none;
}

h1 {
  color: white;
  display: flex;
  text-align: center;
}

h2 {
  color: white;
  font-size: xx-large;
}

#left-side {
  width: 20%;
  background-image: linear-gradient(green, yellow);
  height: 1200px;
}

#mid {
  width: 60%;
  background-color: rgb(255, 255, 255);
  height: 1200px;
  background-image: linear-gradient(rgb(246, 162, 162), rgb(136, 136, 255));
  padding: 10px;
}
#mid-baby {
  display: flex;
  justify-content: center;
}
#right-side {
  width: 20%;
  background-image: linear-gradient(green, yellow);
  height: 1200px;
}

#what-season {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: silver;
}

a {
  color: white;
  text-underline-offset: unset;
}

iframe {
  padding: 10px;
}

button {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(181, 195, 92);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

div {
  padding: 10px;
}

form {
  padding: 10px;
}

#season-button {
  width: auto;
}
