header {
  background-color: black;
  height: 150px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  text-align: center;
}
li {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  font-size: x-large;
}
h1 {
  color: white;
  display: flex;
  text-align: center;
}

h2 {
  color: white;
  font-size: xx-large;
}
#left-side {
  width: 20%;
  background-color: rgb(124, 188, 125);
  height: 800px;
}

#mid {
  width: 60%;
  background-color: rgb(205, 205, 205);
  /* display: flex; */
  /* justify-content: left; */
  /* flex-wrap: wrap; */
}

#right-side {
  width: 20%;
  background-color: rgb(124, 188, 125);
}
button {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: silver;
}
a {
  color: white;
  text-underline-offset: unset;
}

iframe {
  padding: 10px;
}
